#divForm {
    width: 450px;
    height: 650px;
    font-family: cursive;
    position: relative;
    left: 50px;
    top: 50px;
    right: 50px;
    color:#bd8200;
 
    padding-top: 10px;
    padding-left: 10px;
    background-color: white;
    border-radius: 5%;
}

.fa{
    color:#bd8200;
    font-size: 30px;
    padding-left:10px;
}

.btn {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    position: relative;
    left: 30px;
    background-color: orange;
    color: black;
}

.form-control.ng-pristine.ng-invalid.ng-touched{
    border: 2px solid red;
}

.alert{
    background-color: #ffebbf;
    color:#bd8200;
    font-size: 10px;
    font-weight: bold;
}

